body {
    background-color: lightblue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0;
}

.wrapper {


    z-index: 2;
}

#header {
    text-align: Center;
    background-color: black;
    color: #fff;
    padding: 0.25rem;
}

.pp{

    margin: 0 3rem;
    z-index: 2;
    font-size: 20px;
}
.Title{
    line-height: 27px;
    font-size: 40px;
    text-align: center;
}


.menu {
    float: right;
}
.subtitle{
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    background-color: black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}
.fullborder {
    border: black solid thin;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.iframe2{
    text-align: center;
}

